@import '../../components/side-nav/SideNav.scss';
@import '../../components/dashboard/Dashboard.scss';
@import '../../components/shared/user-form/UserForm.scss';

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}


