.logo {
  font-size: 40px !important;
  font-family: 'Oleo Script', cursive;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 61px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  width: 90px;
  height: 90px;
  font-weight: 500;
  color: $body-color;
  background-color: $gray-300;
  &.active {
    background: $primary linear-gradient(180deg, mix($body-bg, $primary, 15%), $primary) repeat-x;
    color: $white;
  }
  &:not(.active):hover {
    background-color: $gray-400;
  }
}
