@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

.listing-profile-img {
  width: 40px;
  height: 40px;
}

.line-height-sm {
  line-height: $line-height-base/1.5;
}
